<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex justify-center items-center h-96 mt-24">
      <form class="flex flex-col justify-center w-full rounded-md w-4/5 md:w-2/3 lg:w-1/3 justify-center items-center shadow-xl border-2 border-gray-100" method="post">
        <h1 class="mb-9 text-2xl mt-5">Login Form</h1>
        {% if msg != None %}
          <p class="mb-5 bg-red-200 p-3 rounded-md">{{msg}}</p>
        {% endif %}
        {{form.username}} {{form.password}}
      <input type="submit" value="Login" class="bg-blue-500 rounded-md w-11/12 p-2 hover:bg-blue-950 hover:text-white my-8 "/>
      <p class="mb-5">Create a new Account &nbsp;<a href="/user/signup" class="text-indigo-500 underline underline-offset-2">SignUp</a></p>
      </form>
    </div>
  </body>
</html>