<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  <title>Success</title>
  <link rel="icon" type="image/x-icon"
    href="https://innogeeks24.s3.ap-south-1.amazonaws.com/Innogeeks_logo-removebg-preview.png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen flex flex-col justify-center items-center">
      <img src="https://innogeeks24.s3.ap-south-1.amazonaws.com/badge.gif" class="w-[250px] w-[250px]" alt="">
      <h1 class="text-6xl md:text-4xl text-[#1AA7CA] font-bold ">Registration Successful</h1>
      <p class="text-4xl md:text-2xl text-[#1AA7CA]">Kindly make the payment!!</p>
  </div>
</body>

</html>